@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lugrasimo&family=Outfit:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --body: #fff;
    --black: #000;
    --white: #fff;
    --theme: #ff3726;
    --theme2: #005cb5;
    --header: #0c142e;
    --text: #77797e;
    --ratting: #ffa128;
    --border: #E3E3E3;
    --border2: #242449;
    --border3: #5262FF;
    --bg: #F3F7FB;
    --bg2: #18185E;
    --bg3: #ffffff33;
    --box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.1);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(Image/logina.jpg);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
}

.header-ic {
    width: 270px;
    height: 100px;
    background-image: url(Image/logo-w.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
    display: block;
    cursor: pointer;
}

/* Kart Tasarýmý */
.container {
    background: var(--white);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
    animation: fadeIn 1s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    width: 90%;
}

h2 {
    color: #333;
    margin-bottom: 40px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

    .input-group label {
        display: block;
        font-weight: bold;
        color: #555;
        margin-bottom: 7px;
    }

    .input-group input {
        width: 95%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        transition: border-color 0.3s;
        font-size: 16px;
    }

        .input-group input:focus {
            border-color: var(--theme);
            outline: none;
        }

        .input-group input:placeholder-shown {
            opacity: 0.7;
            font-size: 14px;
        }

.radio-group {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

    .radio-group label {
        display: inline-block;
        padding: 10px 45px;
        border: 2px solid var(--theme2);
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        color: var(--theme2);
        text-align: center;
        transition: all 0.3s ease;
    }

    .radio-group input[type="radio"] {
        display: none;
    }

        .radio-group input[type="radio"]:checked + label {
            background: var(--theme);
            color: var(--white);
            border-color: var(--theme);
        }

/* Buton */
.register-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background: var(--theme2);
    color: var(--white);
    font-size: 16px;
    cursor: pointer;
    transition: background 0.9s;
}

    .register-btn:hover {
        background: var(--theme);
    }

p {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

    p a {
        color: var(--theme);
        text-decoration: none;
    }

        p a:hover {
            text-decoration: underline;
        }

/* Animasyon */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#lblError {
    margin-top: 10px;
    font-size: 14px;
    color: red;
    opacity: 0.7;
}

